.topBar {
    text-align: right;
    word-spacing: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.navBar {
    display: flex;
    align-items: center;
    padding: 6px;
    box-sizing: border-box;
    justify-content: flex-end;
}

.topBar img{
    height: 32px; 
    width: 32px; 
    border-radius: 100px;
}

a:link, a:active, a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    
}

.voice {
    display: flex;
    align-items: center;
    height: 24px;
    width: 24px;
    vertical-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.googleLogo {
    display: block;
    margin: auto;
}
