.topBar {
    text-align: right;
    word-spacing: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.navBar {
    display: flex;
    align-items: center;
    padding: 6px;
    box-sizing: border-box;
    justify-content: flex-end;
}

.topBar img{
    height: 32px; 
    width: 32px; 
    border-radius: 100px;
}


a:link, a:active, a:visited {
    text-decoration: none;
    color: black;
    
}

a:hover {
    text-decoration: underline;
}

.googleLogo {
    display: block;
    margin: auto;
}

.searchBarWrap {
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-bottom: 10px;
}

.searchBar {

    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    align-items: center;
    width: 540px;
    height: 12px;
    padding: 1rem;
    padding-right: 1.5rem;
    border-color: rgba(223,225,229,0);
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    
    
}

.searchBar:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}


.search {
    display: flex;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;    
    height: 34px;
    font-size: 16px;
}

.searchIcon {

    display: flex;
    padding-right: 16px;

}

.voice {
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    width: 24px;
    height: 24px;
    line-height: 44px;   
}

.searchButtonsWrap {
    display: flex;
    justify-content: center;
    padding-bottom: 23px;
}

.searchButtons {
    display: inline-flex;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    margin: 5px;
    

}

.searchButtons:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
} 

.googleLangsText {
    display: block;
    text-align: center;
    font-family: arial,sans-serif;
    
    font-size: small;
}

#googleLangsLinks {
    color: #1a0dab;
}
